@import "src/assets/style/variables.scss";

.login-now {
    background-color: $black-color;
    height: 155px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bold {
        font-weight: bold;
    }

    &_text {
        color: $white-color;
        font-size: 1.25em;
    }

    &_btn {
        background-color: $white-color;
        text-transform: lowercase;

        &:hover {
            color: $white-color;
        }
    }
}
