@import '../../../assets/style/variables.scss';

.activities_wrapper {
  padding-right: 40px
}
.activities {
  font-size: 20px;
  margin: 60px 0px 30px 0px; 
}

.activities_stats {
  width: 100%;
  padding: 40px 30px 50px;
  background: $light-grey-color;
  border-radius: 4px;
  .uk-divider-vertical {
    height: 44px;
  }
  .activities_stats_item {
    padding: 0 10px;
    .activity_value{
      font-size: 20px;
    }
    .activities_cathegory {
      font-size: 14px;
    }
  }
}

.activities_month {
  margin-top: 40px;
  padding-right: 40px;
}

.activities_month_img {
  margin-right: 24px;
}

.activity_link {
  text-decoration: none;
  color: $dark-grey-matte-color;
}

.activities_month_total {
  display: grid;
  grid-template-columns: 6fr 1fr 3fr 3fr 3fr 3fr;
}

.activities_month_items {
  display: grid;
  grid-template-columns: 6fr 1fr 3fr 3fr 3fr 3fr;
  .activities_month_img {
    width: 72px;
    height: 72px;
  }
}

