$black-color: rgb(25, 25, 25);
$dark-grey-color: rgb(38, 42, 48);
$white-color: rgb(255, 255, 255);
$light-grey-color: rgba(0, 0, 0, 0.05);
$dark-grey-matte-color: #666;
$ligth-dark: rgb(232, 240, 254);
$light-blue: #dfe0e1;

