@font-face {
    font-family: 'Puma';
    font-style: normal;
    font-weight: 400;
    src: url('/src/assets/fonts/PUMA-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Puma';
    font-style: normal;
    font-weight: 700;
    src: url('/src/assets/fonts/PUMA-Bold.woff') format('woff');
}
