@import '../../../../assets/style/variables';

.workout {
  &__info {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 45%;
  }
  &__interests-title {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.31;
    font-weight: bold;
    color: $black-color;
  }

  &__interests-text {
    font-size: 16px;
    line-height: 1.5;
    color: $black-color;
  }

  &__difficulty,
  &__traner-name,
  &__time {
    color: $black-color;
  }
}

.uk-divider-vertical {
  height: 44px;
}