@import '../../../assets/style/variables';

.workout {
  &__wrapper-title {
    margin-left: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid $light-grey-color;
  }

  &__title {
    margin-top: 60px;
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
    color: $black-color;
  }

  &__subtitle {
    font-size: 28px;
    line-height: 1.29;
    text-transform: uppercase;
    color: $black-color;
  }
}

@media (max-width: 1000px) {
  .workout {

    &__wrapper-title {
      margin-left: 0;
    }

    &__title {
      margin: 75px 0 0 50px;
      font-size: 32px;
    }

    &__subtitle {
      margin-left: 50px;
    }
  }
}