<h1 class="activities uk-article-title uk-text-bold">ACTIVITIES</h1>
<div class="activities_stats uk-flex uk-flex-center uk-flex-middle">
    <div class="activities_stats_item uk-flex uk-flex-column uk-flex-middle">
        <div class="uk-text-bold activity_value">1</div>
        <div class="activities_cathegory">ACTIVITY</div>
    </div>
    <hr class="uk-divider-vertical">
    <div class="activities_stats_item uk-flex uk-flex-column uk-flex-middle">
        <div class="uk-text-bold activity_value">0,0km</div>
        <div class="activities_cathegory">RUNNING DISTANCE</div>
    </div>
    <hr class="uk-divider-vertical">
    <div class="activities_stats_item uk-flex uk-flex-column uk-flex-middle">
        <div class="uk-text-bold activity_value">15min</div>
        <div class="activities_cathegory">WORKOUT TIME</div>
    </div>
    <hr class="uk-divider-vertical">
    <div class="activities_stats_item uk-flex uk-flex-column uk-flex-middle">
        <div class="uk-text-bold activity_value">81</div>
        <div class="activities_cathegory">KCAL BURNED</div>
    </div>
    <hr class="uk-divider-vertical">
    <div class="activities_stats_item uk-flex uk-flex-column uk-flex-middle">
        <div class="uk-text-bold activity_value">17</div>
        <div class="activities_cathegory">TRAC SCORE</div>
    </div> 
</div>
<div class="activities_month">
    <div class="activities_month_total">
        <div class="activities_month_column uk-text-bold">
            February 2023
        </div>
        <div class="activities_month_column uk-text-bold">
    
        </div>
        <div class="activities_month_column uk-text-bold uk-flex uk-flex-middle uk-flex-center">
            0,0km
        </div>
        <div class="activities_month_column  uk-text-bold uk-flex uk-flex-middle uk-flex-center">
            15min
        </div>
        <div class="activities_month_column  uk-text-bold uk-flex uk-flex-middle uk-flex-center">
            81kcal
        </div>
        <div class="activities_month_column  uk-text-bold uk-flex uk-flex-middle uk-flex-center">
            17 TRAC Score
        </div>
    </div>
    <hr class="uk-hr">
    <div class="activities_month_items">
        <a href="/" class="uk-flex activity_link activities_month_item">
            <div class="activities_month_img">
                <img src="*" alt="workout_image" class="activities_img">
            </div>
            <div class="activities_info uk-flex uk-flex-middle uk-flex-center uk-flex-column">
                <div class="activities_title uk-text-bold">Skater Strength</div>
                <div class="activities_date">Wed, February 2nd</div>
            </div>
        </a>
        <div class="activities_month_item">
        </div>
        <div class="activities_month_item">
        </div>
        <div class="activities_month_item uk-flex uk-flex-center uk-flex-middle">
            15min
        </div>
        <div class="activities_month_item uk-flex uk-flex-center uk-flex-middle">
            81kcal
        </div>
        <div class="activities_month_item uk-flex uk-flex-center uk-flex-middle">
            17 TRAC Score
        </div>
    </div>
    <hr class="uk-hr">
</div>


  