<h1 class="activities_title uk-article-title uk-text-bold">ACTIVITIES</h1>
<div class="activities_stats uk-flex uk-flex-space-around">
    <div class="activities_stats_item uk-flex uk-flex-column uk-flex-middle">
        <div>Number</div>
        <div>ACTIVITY</div>
    </div>
    <div class="activities_stats_item uk-flex uk-flex-column uk-flex-middle">
        <div>km</div>
        <div>RUNNING DISTANCE</div>
    </div>
    <div class="activities_stats_item uk-flex uk-flex-column uk-flex-middle">
        <div>Min</div>
        <div>WORKOUT TIME</div>
    </div>
    <div class="activities_stats_item uk-flex uk-flex-column uk-flex-middle">
        <div>Number</div>
        <div>KCAL BURNED</div>
    </div>
    <div class="activities_stats_item uk-flex uk-flex-column uk-flex-middle">
        <div>Number</div>
        <div>TRAC SCORE</div>
    </div> 
</div>
<div class="activities_month">
    <div class="activities_month_total ">
        <div class="activities_month_column uk-width-6-19">
             February  2023
        </div>
        <div class="activities_month_column uk-width-1-19">
    
        </div>
        <div class="activities_month_column uk-width-3-19">
            0,0km
        </div>
        <div class="activities_month_column uk-width-3-19">
            15min
        </div>
        <div class="activities_month_column uk-width-3-19">
            81kcal
        </div>
        <div class="activities_month_column uk-width-3-19">
            17 TRAC Score
        </div>
    </div>
    <div class="activities_month_items">
        <a href="/">
            <div class="activities_month_img uk-width-6-19">
                <img src="" alt="workout_image">
            </div>
            <div class="activities_info">
                <div class="activities_title">Skater Strength</div>
                <div class="activities_date">Wed, February 2nd</div>
            </div>
        </a>
        <div class="activities_month_item uk-width-1-19">
        </div>
        <div class="activities_month_item uk-width-3-19">
        </div>
        <div class="activities_month_column uk-width-3-19">
            15min
        </div>
        <div class="activities_month_item uk-width-3-19">
            81kcal
        </div>
        <div class="activities_month_item uk-width-3-19">
            17 TRAC Score
        </div>
    </div>
</div>


  