<nav class="nav">
    <a class="nav_link uk-button uk-button-default" href="https://go.puma.com/koswb" target="_blank">Shop PUMA.com</a>
    <img class="nav_logo" src="./../../assets/icons/logo.svg" alt="puma logo">
    <button class="nav_login uk-button uk-button-default">
        Login
        <span uk-icon="user"></span>
        <span uk-icon="heart"></span>
        <span uk-icon="icon: check"></span>

        <a href="" uk-icon="icon: heart"></a>
        <span class="uk-margin-small-right" uk-icon="check"></span>

        <a href="" uk-icon="heart"></a>
    </button>
</nav>

