@import '../../../assets/style/variables.scss';

.account-img {
  width: 142px;
  height: 142px;
  border-radius: 50%;
  border: 1px solid $black-color;
  background: $black-color;
  margin-right: 20px;
}


.profile-sidebar_info {
  .padding-right {
    padding-right: 10px;
  }
  .uk-divider-vertical {
    height: 18px;
    width: 10px;
    border-left: 1px solid $black-color;
  }
}


