@import 'src/assets/style/variables.scss';

.workouts {
  &__wrapper-list {
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media(max-width: 1290px) {
  .workouts {
    &__wrapper-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media(max-width: 1000px) {
  .workouts {
    &__wrapper-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media(max-width: 800px) {
  .workouts {
    &__wrapper-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
