$global-font-family: 'Puma', sans-serif;
$global-background: #000 !default;
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";
@import "node_modules/uikit/src/scss/uikit-theme.scss";
@import "./assets/fonts/fonts.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Puma', sans-serif;
}

html {
    scroll-behavior: smooth;
}
