@import 'src/assets/style/variables.scss';

.workouts {
  &__wrapper-list {
    max-width: 1440px;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__card {
    position: relative;
    height: 400px;
    background-size: cover;
    border-radius: 4px;
    cursor: pointer;
  }

  &__wrapper-title {
    padding: 0;
    position: absolute;
    left: 23px;
    bottom: 23px;
    z-index: 10;
  }


  &__title {
    margin-bottom: 0;
    color: $white-color;
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    text-align: left;
  }

  &__subtitle {
    margin: 0 auto;
    color: $white-color;
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.25;
    text-align: left;
  }

  &__info {
    margin-top: 14px;
    color: $white-color;
    font-size: 14px;
    text-align: left;
  }

  &__dimm {
    background-image: linear-gradient(180deg, transparent, $black-color);
    height: 35%;
    z-index: 5;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all .25s ease;
  }

  &__page-title {
    max-width: 1440px;
    margin: 20px auto 0;
  }

  &__page-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: $black-color;
  }

  &__count-title {
    transform: translateY(-20px);
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.44;
    color: $black-color;
  }
}